@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "NEXON Lv1 Gothic OTF", sans-serif;
}

body {
  border: 1px solid red;
}
.container {
  margin: 0 30px;
}

/* Main.css */ 

/* 찐 */
.titleBG{
  /* 여기 넘 어거지.. 다시 수정하기 */
  width: 363px;
  margin: 0 0 0 -30px;
}

.mainTitle{
  /* 나중에 걍 글꼴 넣기..  */
  position: absolute;
  top:0;
  width: 130px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 82px;
  
}
.weather{
  margin-bottom: 15px;
}
.weatherContainer {
  display: table;
  
}
.weatherIcon {
  float: left;
  display: flex;
  width: 90px;
  height: 90px;
  margin: 20px;
  /* position: relative; */
  align-items: center;
  justify-content: center;
}

.TempDes {
  /* float: right; */
  width: 330px;
  height: 130px;
  
  
}
.temperature{
  display:flex;
  font-size: 34px;
  font-weight: bold;
}
.unit{
  font-size: 20px;
  font-weight: 500;
  margin: 4px 0 0 3px;
}
.description {
  font-size: 15px;
  font-weight: bold; 
}
.maxMin {
  display: flex;
  width: 180px;
  height: 30px;
  margin-top: 3px;
}
.temp--min {
  float: left;
  padding: 5px 7px 0 0;
  font-size: 13px;
  font-weight: bold;
  color: #56A2F8;
}
.temp--max {
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #f36565;
  width: 38px;
  height: 22px;
}
.feels-like{
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: #949494;
  margin-top: 2px;
}
.under {
  display: flex;
  width: 180px;
  height: 30px;
}
.humidity{
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  height: 22px;
  color: #686868;
}
.windSpeed{
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  height: 22px;
  margin-left: -2px;
  color: #686868;
}

/**/



.img--title {
  height: 78px;
  border: 1px solid purple;
}


.recommend-place {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container--title {
  position: relative;
  display: flex;
  align-items: center;
}
.container--title > h1 {
  display: inline;
  font-size: 23px;
}

.btn--info {
  margin: 0 10px;
  color: #32499c;
  font-size: 22px;
  cursor: pointer;
}
.btn--more {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 130px;
  /* position:absolute 일 때 center 맞추기 */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /*  */
  width: 250px;
  height: 210px;
  border-radius: 20px;
  background-color: rgba(196, 196, 196, 0.9);
}
.modal > p {
  font-size: 18px;
  font-weight: bold;
}
.exit--btn {
  width: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #32499c;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.container--btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.container--btn button {
  display: inline-block;
  margin: 4px;
  border: none;
  border-radius: 100px;
  outline: none;
  background: #e9a945;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.container--btn .btn--unselected {
  background: grey;
}

/* 추천 관광지 리스트  */
.container--place {
  display: flex;
  flex-direction: column;
  height: calc(812px - 480px);
  overflow-y: scroll;
}

/* 스크롤바 설정*/
.container--place::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.container--place::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #32499c;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.container--place::-webkit-scrollbar-track {
  background-color: #32499c7a;
}

.row {
  display: flex;
  margin-top: 24px;
}
.container--place img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.content {
  font-size: 13px;
}
