.mySwiper {
  width: 313px;
  height: 34px;
  /* background-color: white; */
  margin-top: 8px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.first-category--selected {
  color: red;
}

.row {
  display: flex;
  margin-top: 24px;
  /* margin-left: 29px; */
}
img {
  width: 76px;
  height: 76px;
  margin-right: 20px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  margin-top: 10px;
}
.content {
  font-size: 13px;
  font-size: 13px;
  line-height: 15px;
  margin-top: 6px;
  word-break: break-all;
}
